<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Main Nav Navigation-->
  
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">&nbsp;<%= title %> Me</h1>
    <div class="container">
      <div class = "row">
      <div class = "col-4">
      <img src="Assets/images/Aditya.jpg" alt="Aditya" class="photo-image">
      <p><i><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aditya Lal Amatya</b></i></p>
      </div>
    <div class="col-8 about me" style="text-align: left;">
      <p> Hi, I'm Aditya Lal Amatya, a passionate graphic designer with a love for creating visually appealing
        designs that convey messages effectively. With more than 3 years of experience in the industry, I have honed 
        my skills and developed a keen eye for detail, allowing me to deliver quality designs that are both aesthetically
         pleasing and functional.
      </p>
      <p>I specialize in print and digital areas and have worked with a diverse range of clients. My approach to design is 
        centered around understanding my client's needs and goals, and using my creativity and technical skills to bring their 
        vision to life.
      </p>
      <p>When I'm not designing, you can find me playing video games and football. I'm also an avid learner and always strive 
        to stay current with the latest design trends and technology.
      </p>
      <a href="Assets/pdf/Aditya_CV.pdf" class="btn btn-danger" download="Aditya_CV.pdf">My Resume</a>
    </div>
    </div>
    </div>
  </div>
  </main>
  
   <!--<h1><%= title %></h1>-->
   <!--<p>Welcome to <%= title %></p>-->
   <!--Script section-->
   
   <%-include partials/bottom_nav.ejs%>
   <%-include partials/footer.ejs%>