<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Main Nav Navigation-->
  
<main class="container contact-container">
  <div class="jumbotron">
    <!-- <h1 class="display-4">Welcome to the <%= title %> Page</h1>  -->
    <div class="container">
      <div class="row header">
        <h1>CONTACT Me &nbsp;</h1>
        <h3>Fill out the form below to learn more!</h3>
      </div>
      <div class="row body">
        <div class="col-md-6">
          <form action="#">
            <ul>
              
              <!-- <li> -->
                <p class="left">
                  <label for="first_name">First name:<span class="req">*</label>
                  <input type="text" name="first_name" placeholder="Jonny" />
                </p>
                <p class="pull-right">
                  <label for="last_name">Last name:<span class="req">*</label>
                  <input type="text" name="last_name" placeholder="Depp" />      
                </p>
              <!-- </li> -->
              
              <!-- <li> -->
                <p>
                  <label for="email">Email: <span class="req">*</span></label>
                  <input type="email" name="email" placeholder="heresjonny!!!@gmail.com" />
                </p>
              <!-- </li>         -->
              <!-- <li> -->
              <div class="divider">
  
                <!-- </li> -->
              <!-- <li> -->
                <label for="message">Message</label>
                <textarea cols="46" rows="3" name="message"></textarea>
              </div>
              <!-- </li> -->
              <br>
                <!-- <li> -->
                <!-- <input class="btn btn-submit" type="submit" value="Submit" /> -->
                <button type="button" onclick="alert('Message saved')">Submit</button>
                <small>or press <strong>enter</strong></small>
              <!-- </li> -->
                   
  
            </ul>
          </form>
        </div> 
        
        <div class="col-md-6">
          <div class="contact-details">
            <p>Email me:<span>&nbsp; aditya.amatya131@gmail.com</span></p>
            <p>Contact me:<span>&nbsp; +1 437-477-6933</span></p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </main>
  
   <!--<h1><%= title %></h1>-->
   <!--<p>Welcome to <%= title %></p>-->
   <!--Script section-->
   
   <%-include partials/bottom_nav.ejs%>
   <%-include partials/footer.ejs%>




