<%-include partials/header.ejs%>
  <%-include partials/main_nav.ejs%>
    <!--Main Nav Navigation-->

    <main class="container">
      <div class="jumbotron">
        <div class="d-flex flex-md-row flex-column mt-5 justify-content-center">
          <div class="flex-grow-1 w-md-100" style="max-width: 560px">
            <h1 class="display-4 text-center">Welcome to the <%= title %> Page</h1>
            <p class="display-8">Hi, I'm Aditya Lal Amatya, welcome to my portoflio page. A short description about me is that
              I am a passionate graphic designer with a love for creating visually appealing designs that convey messages effectively. 
               To know more about me please click the link below. 
               
               <!--  <%= title %> Page</p> -->


            <div> <a href="/about" class="btn btn-primary">To know about me</a>
            </div>
            <br/>
            <div> <a href="/projects" class="btn btn-success">To know more about the projects</a> </div>
          </div>
        </div>
    </main>

    <!--<h1><%= title %></h1>-->
    <!--<p>Welcome to <%= title %></p>-->
    <!--Script section-->

    <%-include partials/bottom_nav.ejs%>
      <%-include partials/footer.ejs%>