<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Main Nav Navigation-->
  
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the <%= title %> Page</h1>
    <h3 class="project-title">Project list</h3>
    <div class="row">
      <div class="col-md-4">

        <div class="project-items">
          <div class="project-img">
            <img src="Assets/images/TFN.jpg" >
          </div>
          <div class="project-desc">
            <strong>Teach For Nepal</strong>
            <br/>
            <p><em>Took on a project for an organization where I had to design course books for students from different grades. Took this great opportunity to learn and sharpen by skill which was a great opportunity for me. 
              <br>
              I had to design course book from grade 6 to grade 10 students. Starting from cover bage to the back cover page. Its was a great experience for me and I was able to learn many things.</em></p>
          </div>
        </div>

      </div>
      <div class="col-md-4">
         
        <div class="project-items">
          <div class="project-img">
            <img src="Assets/images/Education.com.png" >
          </div>
          <div class="project-desc">
            <strong>educ@tion.com</strong>
            <br/>
            <p><em>Created a information brochure for an oraganization which helps students who just passed their high school and don't know what to study after it.
              The brochure had all the informaton about the course named GMAT and CMAT which is like an skill assessment test.</em></p>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        
        <div class="project-items">
          <div class="project-img">
            <img src="Assets/images/J89.png" >
          </div>
          <div class="project-desc">
            <strong>J89</strong>
            <br/>
            <p><em>As a designer I had to promote the clients company named J89 by making catchy designs, printouts and banners for better advertisement.</em></p>
          </div>
        </div>

      </div> 
    </div>
    </div>
  </main>
  
   <!--<h1><%= title %></h1>-->
   <!--<p>Welcome to <%= title %></p>-->
   <!--Script section-->
  
   <%-include partials/bottom_nav.ejs%>
   <%-include partials/footer.ejs%>




