<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Main Nav Navigation-->
  
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the <%= title %> Page</h1>
    <h3 class="project-title">Project list</h3>
    <div class="row">
      <div class="col-md-4">

        <div class="project-items">
          <div class="project-img">
            <img src="Assets/images/project.jpg" >
          </div>
          <div class="project-desc">
            <strong>Project Title</strong>
            <br/>
            <p><em>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem doloribus aspernatur facere repellat architecto voluptatibus reiciendis illum assumenda cumque placeat modi, incidunt ex itaque earum vitae? Eos eaque tenetur error!</em></p>
          </div>
        </div>

      </div>
      <div class="col-md-4">
         
        <div class="project-items">
          <div class="project-img">
            <img src="Assets/images/project.jpg" >
          </div>
          <div class="project-desc">
            <strong>Project Title</strong>
            <br/>
            <p><em>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem doloribus aspernatur facere repellat architecto voluptatibus reiciendis illum assumenda cumque placeat modi, incidunt ex itaque earum vitae? Eos eaque tenetur error!</em></p>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        
        <div class="project-items">
          <div class="project-img">
            <img src="Assets/images/project.jpg" >
          </div>
          <div class="project-desc">
            <strong>Project Title</strong>
            <br/>
            <p><em>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem doloribus aspernatur facere repellat architecto voluptatibus reiciendis illum assumenda cumque placeat modi, incidunt ex itaque earum vitae? Eos eaque tenetur error!</em></p>
          </div>
        </div>

      </div> 
    </div>
    </div>
  </main>
  
   <!--<h1><%= title %></h1>-->
   <!--<p>Welcome to <%= title %></p>-->
   <!--Script section-->
  
   <%-include partials/bottom_nav.ejs%>
   <%-include partials/footer.ejs%>




