<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Main Nav Navigation-->
  
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the <%= title %> Page</h1>
    </div>
    <div class="row project-items">
      <div class="col-md-4 project-img">
        <img src="Assets/images/project.jpg">
      </div>
      <div class="col-md-8 project-desc">
        <strong>Service Title1</strong>
        <p><em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam cupiditate corporis aspernatur, quis enim fugiat molestias. Mollitia unde minus voluptatem modi provident asperiores similique alias ratione quibusdam, sed, nostrum dolore?</em></p>
      </div>
    </div>
  
    <div class="row project-items">
      <div class="col-md-8 project-desc">
        <strong>Service Title2</strong>
        <p><em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam cupiditate corporis aspernatur, quis enim fugiat molestias. Mollitia unde minus voluptatem modi provident asperiores similique alias ratione quibusdam, sed, nostrum dolore?</em></p>
      </div>
      <div class="col-md-4 project-img">
        <img src="Assets/images/project.jpg">
      </div>
    </div>
  
    <div class="row project-items">
      <div class="col-md-4 project-img">
        <img src="Assets/images/project.jpg">
      </div>
      <div class="col-md-8 project-desc">
        <strong>Service Title3</strong>
        <p><em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam cupiditate corporis aspernatur, quis enim fugiat molestias. Mollitia unde minus voluptatem modi provident asperiores similique alias ratione quibusdam, sed, nostrum dolore?</em></p>
      </div>
    </div>
  </main>

  
   <!--<h1><%= title %></h1>-->
   <!--<p>Welcome to <%= title %></p>-->
   <!--Script section-->
  
   <%-include partials/bottom_nav.ejs%>
   <%-include partials/footer.ejs%>




