<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Main Nav Navigation-->
  
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the <%= title %> Page</h1>
    </div>
    <div class="row project-items">
      <div class="col-md-4 project-img">
        <img src="Assets/images/graphic.png">
      </div>
      <div class="col-md-8 project-desc">
        <strong>Graphic Designing</strong>
        <p><em>Need help to promote yourself or your business? I can help by creating a meaningful and creative designs for your advertisement. Prices will vary on what type ko designs in requested by the client. I assure you won't get disappionted. </em></p>
      </div>
    </div>
  
    <div class="row project-items">
      <div class="col-md-8 project-desc">
        <strong>Web Application Development</strong>
        <p><em>Need help to create a simple Web Application for your company? Feel free to contact me with all your requirements. I might not be the best at it but surely not worst at it either. </em></p>
      </div>
      <div class="col-md-4 project-img">
        <img src="Assets/images/web.png">
      </div>
    </div>
  
    <div class="row project-items">
      <div class="col-md-4 project-img">
        <img src="Assets/images/programming.png">
      </div>
      <div class="col-md-8 project-desc">
        <strong>Programming</strong>
        <p><em>Learn to start programming from scratch. Don't let coding overwhelm you. Not everyone started as a senior programmer. They had to start from scratch and with lots of practice they became successful so can be the people who wants to start. It's never too late to learn new things. Feel free to contact me for help needed. </em></p>
      </div>
    </div>
    <br>
  </main>

  
   <!--<h1><%= title %></h1>-->
   <!--<p>Welcome to <%= title %></p>-->
   <!--Script section-->
  
   <%-include partials/bottom_nav.ejs%>
   <%-include partials/footer.ejs%>




